[dotenv@17.2.3] injecting env (9) from .env.local -- tip: ­ƒöÉ prevent building .env in docker: https://dotenvx.com/prebuild

DECLARE
  v_unit_price NUMERIC;
BEGIN
  -- 1. Buscar pre├ºo unit├írio do pacote para registrar o consumo financeiro
  SELECT unit_price INTO v_unit_price
  FROM client_packages
  WHERE id = p_package_id;

  IF NOT FOUND THEN
    RAISE EXCEPTION 'Pacote n├úo encontrado com ID %', p_package_id;
  END IF;

  -- 2. Atualiza o pacote, decrementando o dispon├¡vel e incrementando o consumido
  UPDATE client_packages
  SET 
    available_quantity = available_quantity - p_quantity,
    consumed_quantity = consumed_quantity + p_quantity,
    updated_at = NOW()
  WHERE id = p_package_id;

  -- 3. Registra o consumo na tabela unificada (Essencial para o Extrato)
  INSERT INTO package_consumptions (
    package_id,
    sale_id,
    quantity,
    unit_price,
    total_value,
    consumed_at
  ) VALUES (
    p_package_id,
    p_sale_id,
    p_quantity,
    v_unit_price,
    (p_quantity * v_unit_price),
    NOW()
  );

  -- Opcional: Validar saldo negativo
  -- IF (SELECT available_quantity FROM client_packages WHERE id = p_package_id) < 0 THEN
  --   RAISE EXCEPTION 'Saldo insuficiente no pacote';
  -- END IF;
END;

